[submodule "Documentation"]
	path = Documentation
	url = https://github.com/PoroRift/Documentation
[submodule "Knowledge-base"]
	path = Knowledge-base
	url = https://github.com/RichCherng/Knowledge-base
[submodule "React-Tutorial"]
	path = React-Tutorial
	url = https://github.com/RichCherng/React-Tutorial
