[submodule "Documentation"]
	path = Documentation
	url = https://github.com/PoroRift/Documentation
[submodule "Knowledge-base"]
	path = Knowledge-base
	url = https://github.com/RichCherng/Knowledge-base
